@{
    ViewBag.Title = "Contact Me";
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<address>
    Michael King<br />
    <b><abbr title="Phone">P:</abbr></b>    306.313.9315 <br />
    <strong>Email:</strong>   <a href="mailto:michael.ac.king@outlook.com">michael.ac.king@outlook.com</a><br 
</address>