@model IEnumerable<Hopper.Models.Project>
@{
    ViewBag.Title = "Hopper Bug DB";
}

<div class="jumbotron">
    <h1>Hopper</h1>
    <h2>Squashing bugs one day at a time.</h2>
    <p class="lead">Hopper is a JIRA-clone bug database demonstrating ASP.NET MVC architecture and a SQL database interfaced with Entity Framework.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col">
        <h2>Projects</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Bug Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>@project.Bugs.Count</td>
                    </tr>
                }
             </tbody>
        </table>
    </div>
</div>