@{
    ViewBag.Title = "Hopper Bug DB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Hopper</h1>
    <h2>Squashing bugs one day at a time.</h2>
    <p class="lead">Hopper is a JIRA-clone bug database demonstrating ASP.NET MVC architecture and a SQL database interfaced with Entity Framework.</p>
    <p >@Html.ActionLink("View All Projects...", "Index", "Projects", null, new { @class="btn btn-primary btn-lg" } )</p>
</div>
